header h3 {
  color: #fff;
}

header {
/*      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1em;
    background: orange linear-gradient(orange,#ff8c00);
    min-height: 71px; */
}

body {  
    display: flex;
    margin: auto;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
/*     color: #fff; */
    flex-direction: column;
}

.container {
    margin: 20px;
}

.nav-bar {
    width: 100%;
    position: sticky;
/*     background-color: orange; */
  background: orange linear-gradient(orange,#ff8c00);
    box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 30px;
    width: 46px;
  background-repeat: no-repeat;
    background-size: 47px;
    background-image: url('https://cdn2.vectorstock.com/i/thumb-large/03/61/comfortable-yellow-couch-with-red-pillows-rgb-vector-33850361.jpg');
    margin: 20px;
}

.user-container {
    margin: 20px;
}

li {
  list-style: none;
}

nav {
  background-color: khaki;
  width: 1350px;
}

nav li {
  postion: relative;
  float: right;
  padding: 0px 30px 0px 30px;
  text-transform: capitalize;
}

p {
  font-size: 14px;
  font-family: Helvetica;
  color: #000;
  line-height: 2em;
  margin-left: 20px;
  text-align: justify;
}

.paragraph-container {
  margin: auto;
  width: 640px;
}

.paragraph-banner {
  color: #000;
/*   text-align: center; */
  position: relative;
  left: 18px;
}

.library-display {
  margin-top: 50px;
}

.library-items {
  display: inline-block;
  font-size: 250%;
  font-family: sans-serif;
  font-weight: regular;
/*   display: flex; */
/*   justify-content: space-between; */
  padding-left: 60px;
  margin: 0px 10px 10px 10px
  
}

.side-bar {
  
  display: inline-block;
  border: solid 1px black;
  width: 240px;
  text-align: center;
  padding-right: 20px;
  margin: 20px;
}

.side-bar-item {
  color: #000;
  background: rgb(90, 214, 90);
}

/* https://stackoverflow.com/questions/12086453/wrap-anchor-tag-around-li-element#:~:text=The%20only%20legal%20element%20allowed,around%20other%20block%20level%20elements.&text=And%20your%20anchor%20shall%20fill,space%20of%20the%20. */
a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 20%;
}


* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}